
.head {
   display: flex;
   justify-content: space-between;
   gap: 30px;
   /* 40-20 */
   margin-top: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
    /* 40-20 */
   margin-bottom: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
   align-items: baseline;

}
 
.logo {

    /* 85-140 */
    max-width: clamp(5.313rem, 4.063rem + 6.25vw, 8.75rem);
    /* max-width: 100px; */
  

}

.logo img {
    width: 100%;
    height: auto;
    vertical-align: -3px;
}
