/* next-akiyama\app\top.module.css */

/* body → サイト全体 */
.wrap {
     margin: 0 auto;
     /* max-width: 850px; */
     
}


.h1 {
    margin-top: 30px;
    font-size: 18px;
}

.figureWrap {
    width: 100%;
    margin-top: 30px;

}

.figureWrap img {
   width: 100%;
   height: auto;
}


/* ====================================
        ▼ 新着ニュース
===================================== */

.article_div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: dotted 1px gray;
    padding-bottom: 13px;
    margin-top: 15px;
    gap: 10px;
}

.article_time {
    width: 13%;/* flex比率 */
    width: 9em;/* flex比率 */
}

.article_category {
    width: 13%;/* flex比率 */
    width: 10em;/* flex比率 */

}

.article_category a {
    border: 1px solid lightgray;
    padding: 1px 15px;
    font-size: 14px;
    border-radius: 15px;
    background-color: #fafafa;
    text-decoration: none;

}


.article_title {
    width: 74%;/* flex比率 */
    width: calc(100% - 25em);
    
}


/* ====================================
        ▼ h2 上書きこのページのみ
===================================== */


.h2 {
    /* font-size: 22px;
       margin-top: 30px;
   margin-bottom: 10px; */
   
    margin-top: 40px;
   margin-bottom: 22px;
}


/* ====================================
        ▼ メディアクエリ
===================================== */


@media (max-width: 767px) {
    
    .article_div {
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
        /* grid-template-columns: 40% 60%; */
        grid-template-columns: auto 1fr;
        justify-items: start;

    }
    
    .article_time {
    /* width: 50%; */   /* flex比率 */
    width: 8em;
  
    }
    
    /* flex比率設定無し */
    /* .article_category {
        
    } */

    .article_title {
        grid-column: 1 / -1;
        width:100%;    /* flex比率 */
    }
    
}







