
/*  */

.paginavi {
   display: flex;
   gap: 30px;
}

/* 以下はコピペなので。。 */

.wrap {
   max-width: 1200px;
   margin: 0 auto;
}

.maindiv {
   margin-top: 30px;
   max-width: 700px;
}

.h2 {
   margin-bottom: 20px;
}

.ul {
   list-style: none;
   font-size: 1.125rem;
}


.li {
   margin-bottom: 5px;
}



/* 0325追加 */

.disabled {
  pointer-events: none; /* 念のためクリック無効 */
  cursor: default;
  color: grey;
}


/* 0326追加 */

.figure img {
   width: 100%;
   height: auto;
}




