/* app\news\[news_id]\news_id.module.css */

.wrap {
   max-width: 1200px;
   margin: 0 auto;
}

.maindiv {
   margin-top: 30px;
}

.h2 {
   margin-bottom: 20px;
}

.back {
   text-align: center;
}

/* 検索結果表示 */

.flex {
    display: grid;
    grid-template-columns: auto 1fr;
}

.time {
    width: 10em;
}

.title {
    width: auto;
    
}
