/* app\news\category\[cat_id]\[page]\cat_id.module.css */

.wrap {
   max-width: 1200px;
   margin: 0 auto;
}

.maindiv {
   margin-top: 30px;
}

.h2 {
   margin-bottom: 20px;
}

.ul {
   list-style: none;
}


.li {
   margin-bottom: 5px;
}


/* ページネーションのスタイル */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 6px;

}

/* ぺージの無い場合 */
.disabled {
  opacity: 0.3;
 
}

/* 真ん中の数字 */
.pageNumber {

  padding: 5px 10px;
}

/* 真ん中の数字 アクティブ*/
.active {

  font-weight: bold;
  text-decoration: none;
  background-color: pink;
    padding: 5px 10px;

}

.link {
     font-weight: bold;
}

/* .centerNumber {

} */


/* ラストページネーションのスタイル */

/* .lastpagination {
  font-size: 1.125rem;
} */


/* 件表示 */

/* 件目表示 */
.pageInfo {
  text-align: center;
}